#
#######################################################
set hdlin_translate_off_skip_text "true"
set verilogout_no_tri             "true"
set default_schematic_options     "-size infinite"
set write_name_nets_same_as_ports "true"
#######################################################
#
# dc_shell TcL startup script:
#
set designer "JMWilliams"
set company  "SVTI"
#
# Some design environment variables:
#
set search_path ". [getenv SYNOPSYS]/../TSMCLibes/tcbn90ghpSYN"
#
# tc = Typical; bc = Best; wc = Worst:
set target_library tcbn90ghptc.db
set link_library   tcbn90ghptc.db
#
set symbol_library tcbn90ghp.sdb
#
# ---------------------------------
#
define_design_lib PLL -path ./PLLSynth
#
analyze   -work PLL -format verilog Comparator.v
analyze   -work PLL -format verilog VFO.v
analyze   -work PLL -format verilog PLL.v
elaborate -work PLL  PLL
#
# ---------------------------------
#
set_operating_conditions NCCOM
set_wire_load_model -name "TSMC8K_Lowk_Conservative"  [all_designs]
#
# For XG mode portability to back-end tools:
set_fix_multiple_port_nets -all
#
set verilogout_higher_designs_first "true"
#
set_drive      10.0 [all_inputs]
set_load       10.0 [all_outputs]
set_max_fanout 10  [all_inputs]
set_max_fanout 10  [all_designs]
#
# module-specific constraints:
set_max_area 0
#
# Squeeze extra speed:
create_clock -period 1.0 ClockIn
create_generated_clock ClockOut -source [get_pins VFO1/ClockIn] -multiply_by 1 
#
set_clock_uncertainty 0.1      [all_clocks]
set_max_delay         1.75 -to [all_outputs]
#
set_propagated_clock [all_clocks]
set_fix_hold         [all_clocks]
#
compile -map_effort high
#
write -hierarchy -format verilog -output PLLNetlist.v
#
report_area > /dev/null
report_area
report_area    > PLLNetlist.log
report_timing
report_timing >> PLLNetlist.log
check_design
check_design  >> PLLNetlist.log
#
# Drop into interactive mode:
#
