# VirSim Configuration File
# Created by: Virsim Y-2006.06
version "2.2.0"


#define design "vcdplus.vpd" "I1" vcs  true  ;

define language Verilog;

define exprgroup EGroup0;

define linkwindow SIM
	time 10565 "100 ps",
	exprgroup "EGroup0";

define group "AutoGroup0"
	verticalposition 1,
	add "I1" "ParShiftTester.S_Clk" "strength" 1 default ,
	add "I1" "ParShiftTester.S_Clr" "strength" 1 default ,
	add "I1" "ParShiftTester.S_D" "strength" 1 red ,
	add "I1" "ParShiftTester.QOut_Watch" "strength" 1 green ,
	add "I1" "ParShiftTester.S_Ena" "strength" 1 default ,
	add "I1" "ParShiftTester.S_ParDIn" "binary" 1 default ,
	add "I1" "ParShiftTester.S_ParLoad" "strength" 1 default ;

define interactive
	xposition 0,
	yposition 185,
	width 430,
	height 600,
	linkwindow SIM,
	pane1 261,
	pane2 282,
	deltacycle off,
	uniqueevents off,
	control "Step Time",
	scope "ParShiftTester",
	steptime 20 "100 ps",
	gototime 0 "100 ps";

define hierarchy
	xposition 700,
	yposition 20,
	width 440,
	height 440,
	designator "I1",
	topscope "<root>",
	pane1 220,
	focusscope "<root>",
	pane2 208,
	locate "scopes",
	find "selected",
	findtext "*",
	pane3 208,
	signals on,
	ports on,
	constants on,
	variables on,
	generics on,
	filtertext "*",
	signalscope "ParShiftTester";

define wave
	xposition 36,
	yposition 640,
	width 1102,
	height 318,
	linkwindow SIM,
	displayinfo 0 "100 ps" tpp 13 0,
	group "AutoGroup0",
	pane1 129,
	pane2 65;

