# VirSim Configuration File
# Created by: Virsim 4.4R12A
version "2.2.0"


#define design "vcdplus.vpd" "I1" vcs  true  ;

define language Verilog;

define exprgroup EGroup0;

define linkwindow SIM
	time 4010200 "1 ps",
	exprgroup "EGroup0";

define group "AutoGroup0"
	verticalposition 1,
	add "I1" "DesDecoderTst.ParClkWatch" "strength" 1 default ,
	add "I1" "DesDecoderTst.ParOutWatch" "hex" 1 default ,
	add "I1" "DesDecoderTst.ParWordIn" "hex" 1 default ,
	add "I1" "DesDecoderTst.ParValidWatch" "strength" 1 default ,
	add "I1" "DesDecoderTst.ResetStim" "strength" 1 default ,
	add "I1" "DesDecoderTst.SerClkStim" "strength" 1 default ,
	add "I1" "DesDecoderTst.SerInStim" "strength" 1 default ,
	add "I1" "DesDecoderTst.SerValidStim" "strength" 1 default ,
	add "I1" "DesDecoderTst.ShiftOut64" "hex" 1 default ,
	add "I1" "DesDecoderTst.ShiftOutN" "hex" 1 default ;

define interactive
	xposition 152,
	yposition 15,
	width 430,
	height 600,
	linkwindow SIM,
	pane1 261,
	pane2 282,
	deltacycle off,
	uniqueevents off,
	control "Step Time",
	scope "DesDecoderTst",
	steptime 20 "1 ps",
	gototime 0 "1 ps";

define hierarchy
	xposition 700,
	yposition 0,
	width 440,
	height 440,
	designator "I1",
	topscope "<root>",
	pane1 220,
	focusscope "<root>",
	pane2 208,
	locate "scopes",
	find "selected",
	findtext "*",
	pane3 208,
	signals on,
	ports on,
	constants on,
	variables on,
	generics on,
	filtertext "*",
	signalscope "DesDecoderTst";

define wave
	xposition 88,
	yposition 443,
	width 1054,
	height 377,
	linkwindow SIM,
	displayinfo 882504 "1 ps" tpp 8568 0,
	group "AutoGroup0",
	pane1 141,
	pane2 151;

