# VirSim Configuration File
# Created by: Virsim X-2005.06-SP1-12
version "2.2.0"


#define design "vcdplus.vpd" "I1" vcs  true  ;

define language Verilog;

define exprgroup EGroup0;

define linkwindow SIM
	time 62100 "10 ps",
	exprgroup "EGroup0";

define group "AutoGroup0"
	verticalposition 1,
	add "I1" "Synch4DFFWor_OptSpeedNetlistTst.ClearStim" "strength" 1 default ,
	add "I1" "Synch4DFFWor_OptSpeedNetlistTst.ClockStim" "strength" 1 default ,
	add "I1" "Synch4DFFWor_OptSpeedNetlistTst.CountWatch" "hex" 1 default ;

define interactive
	xposition 0,
	yposition 185,
	width 430,
	height 600,
	linkwindow SIM,
	pane1 261,
	pane2 282,
	deltacycle off,
	uniqueevents off,
	control "Step Time",
	scope "Synch4DFFWor_OptSpeedNetlistTst",
	steptime 20 "10 ps",
	gototime 0 "10 ps";

define hierarchy
	xposition 700,
	yposition 0,
	width 440,
	height 440,
	designator "I1",
	topscope "<root>",
	pane1 220,
	focusscope "<root>",
	pane2 208,
	locate "scopes",
	find "selected",
	findtext "*",
	pane3 208,
	signals on,
	ports on,
	constants on,
	variables on,
	generics on,
	filtertext "*",
	signalscope "<root>";

define wave
	xposition 27,
	yposition 470,
	width 1115,
	height 240,
	linkwindow SIM,
	displayinfo 0 "10 ps" tpp 75 0,
	group "AutoGroup0",
	pane1 120,
	pane2 124;

