# VirSim Configuration File
# Created by: Virsim Y-2006.06
version "2.2.0"


#define design "vcdplus.vpd" "I1" vcs  true  ;

define language Verilog;

define exprgroup EGroup0;

define linkwindow SIM
	time 2100020000 "1 ps",
	exprgroup "EGroup0";

define group "AutoGroup0"
	verticalposition 1,
	add "I1" "DeserializerTst.ResetStim" "strength" 1 default ,
	add "I1" "DeserializerTst.DecoderParClkWatch" "strength" 1 default ,
	add "I1" "DeserializerTst.EmptyWatch" "strength" 1 default ,
	add "I1" "DeserializerTst.FullWatch" "strength" 1 default ,
	add "I1" "DeserializerTst.ParOutClkStim" "strength" 1 default ,
	add "I1" "DeserializerTst.ParOutWatch" "hex" 1 default ,
	add "I1" "DeserializerTst.ParValidWatch" "strength" 1 default ,
	add "I1" "DeserializerTst.ParWordIn" "hex" 1 default ,
	add "I1" "DeserializerTst.ReadCmdStim" "strength" 1 default ,
	add "I1" "DeserializerTst.SerCkStim" "strength" 1 default ,
	add "I1" "DeserializerTst.SerialInStim" "strength" 1 default ,
	add "I1" "DeserializerTst.SerValidStim" "strength" 1 default ,
	add "I1" "DeserializerTst.ShiftOut64" "hex" 1 default ,
	add "I1" "DeserializerTst.ShiftOutN" "hex" 1 default ,
	add "I1" "DeserializerTst.DesU1.FIFO_U1.Din" "hex" 1 default ,
	add "I1" "DeserializerTst.DesU1.FIFO_U1.Dout" "hex" 1 default ,
	add "I1" "DeserializerTst.DesU1.SerialRx_U1.PLL_RxU1.VFO1.AdjustFreq" "hex" 1 default ,
	add "I1" "DeserializerTst.DesU1.SerialRx_U1.PLL_RxU1.VFO1.DivideFactor" "hex" 1 default ;

define interactive
	xposition 169,
	yposition 27,
	width 430,
	height 600,
	linkwindow SIM,
	pane1 261,
	pane2 282,
	deltacycle off,
	uniqueevents off,
	control "Step Time",
	scope "DeserializerTst",
	steptime 2000 "1 ps",
	gototime 0 "1 ps";

define hierarchy
	xposition 700,
	yposition 20,
	width 440,
	height 440,
	designator "I1",
	topscope "<root>",
	pane1 220,
	focusscope "<root>",
	pane2 208,
	locate "scopes",
	find "selected",
	findtext "*",
	pane3 208,
	signals on,
	ports on,
	constants on,
	variables on,
	generics on,
	filtertext "*",
	signalscope "DeserializerTst.DesU1.SerialRx_U1.PLL_RxU1.VFO1";

define wave
	xposition 15,
	yposition 382,
	width 1210,
	height 524,
	linkwindow SIM,
	displayinfo 0 "1 ps" tpp 2277679 0,
	group "AutoGroup0",
	pane1 166,
	pane2 90;

