# Virsim Configuration File
version "2.2.0"

# Files Open:
#   Designator  Sources  Filename
#   ----------  -------  --------
#       V1         y     test_DW_apb_timers.vpd

define linkwindow A
	time 210250 "1 s";

define linkwindow SIM
	time 0 "1 s";

define group "AutoGroup0"
	verticalposition 1,
	add "V1" "test_DW_apb_timers.U_timers.timer_intr" "hex" 1 ,
	add "V1" "test_DW_apb_timers.U_timers.timer_intr_flag" "strength" 1 ,
	add "V1" "test_DW_apb_timers.U_timers.U_apbif.int_timer1controlreg" "hex" 1 ,
	add "V1" "test_DW_apb_timers.U_timers.U_apbif.timer1controlreg_wen_0" "strength" 1 ,
	add "V1" "test_DW_apb_timers.U_timers.U_apbif.timer1controlreg_wen_1" "strength" 1 ,
	add "V1" "test_DW_apb_timers.U_timers.U_apbif.timer1controlreg_wen_2" "strength" 1 ,
	add "V1" "test_DW_apb_timers.U_timers.U_apbif.timer1controlreg_wen_3" "strength" 1 ,
	add "V1" "test_DW_apb_timers.U_ahb.hbusreq_m1" "strength" 1 ,
	add "V1" "test_DW_apb_timers.U_ahb.hresp" "hex" 1 ,
	add "V1" "test_DW_apb_timers.U_ahb.hready" "strength" 1 ,
	add "V1" "test_DW_apb_timers.U_ahb.hgrant_m1" "strength" 1 ,
	add "V1" "test_DW_apb_timers.U_ahb.htrans" "hex" 1 ,
	add "V1" "test_DW_apb_timers.U_ahb.haddr" "hex" 1 ,
	add "V1" "test_DW_apb_timers.U_ahb.hwrite" "strength" 1 ,
	add "V1" "test_DW_apb_timers.U_timers.paddr" "hex" 1 ,
	add "V1" "test_DW_apb_timers.U_timers.penable" "strength" 1 ,
	add "V1" "test_DW_apb_timers.U_timers.prdata" "hex" 1 ,
	add "V1" "test_DW_apb_timers.U_ahb.hrdata" "hex" 1 ,
	add "V1" "test_DW_apb_timers.U_timers.U_apbif.ri_timer1intstatus" "hex" 1 ,
	add "V1" "test_DW_apb_timers.U_timers.U_apbif.timerintmask" "hex" 1 ,
	add "V1" "test_DW_apb_timers.U_timers.U_apbif.int_timer_intr" "hex" 1 ;

define wave
	xposition 25,
	yposition 292,
	width 1265,
	height 939,
	linkwindow A,
	displayinfo 204800 "1 s" tpp 8 0,
	group "AutoGroup0",
	pane1 180,
	pane2 137;

define hierarchy
	xposition 731,
	yposition 6,
	width 440,
	height 782,
	designator "V1",
	layout "default",
	topscope "<root>",
	pane1 170,
	focusscope "test_DW_apb_timers.U_timers",
	pane2 212,
	locate "scopes",
	find "selected",
	findtext "*",
	pane3 212,
	signals on,
	ports on,
	constants on,
	variables on,
	generics on,
	filtertext "*timer*intr*",
	signalscope "test_DW_apb_timers.U_timers.U_apbif";

