/python/reptile_file
/python/venv
/python/爬虫练习/file
/c_plus_plus/ConsoleApplication1/ConsoleApplication1/Debug
/c_plus_plus/ConsoleApplication1/ConsoleApplication1/ConsoleApplication1*
/c_plus_plus/TestProject/TestProject/Debug
/c_plus_plus/TestProject/TestProject/TestProject*