#
#######################################################
set hdlin_translate_off_skip_text "true"
set verilogout_no_tri             "true"
set default_schematic_options     "-size infinite"
set write_name_nets_same_as_ports "true"
#######################################################
#
# dc_shell TcL startup script:
#
set designer "veriloguserN"
set company  "SVTI"
#
# Some design environment variables:
#
set search_path ". [getenv SYNOPSYS]/../TSMCLibes/tcbn90ghpSYN"
#
# tc = Typical; bc = Best; wc = Worst:
set target_library tcbn90ghptc.db
set link_library   tcbn90ghptc.db
#
set symbol_library tcbn90ghp.sdb
#
# ---------------------------------
#
define_design_lib SerEncoder -path ./SerEncoderSynth
#
analyze -work SerEncoder -format verilog SerEncoder.v
#
elaborate -work SerEncoder  SerEncoder
#
# ---------------------------------
#
set_operating_conditions NCCOM
set_wire_load_model -name "TSMC8K_Lowk_Conservative" [all_designs]
#
# For XG mode portability to back-end tools:
set_fix_multiple_port_nets -all
#
set verilogout_higher_designs_first "true"
#
set_drive      10.0 [all_inputs]
set_load       20.0 [all_outputs]
set_max_fanout 30   [all_inputs]
set_max_fanout 20   [all_designs]
#
# module-specific constraints:
#
set_max_area  0
#
create_clock -period 500 [get_ports ParClk]
create_generated_clock   [get_ports SerClk] -source [get_clock ParClk] -multiply_by 32
set_clock_uncertainty  1 [all_clocks]
#
set_propagated_clock [all_clocks]
set_fix_hold         [all_clocks]
#
set_max_delay 15 -to [all_outputs]
#
compile
#
write -hierarchy -format verilog -output SerEncoderNetlist.v
write_sdf        SerEncoderNetlist.sdf
#
report_area > /dev/null
report_area
echo "Report area:"         > SerEncoderNetlist.log
report_area                >> SerEncoderNetlist.log
report_timing -max_paths 4
echo "Report timing:"      >> SerEncoderNetlist.log
report_timing -max_paths 4 >> SerEncoderNetlist.log
check_design
echo "Check design:"       >> SerEncoderNetlist.log
check_design               >> SerEncoderNetlist.log
#
# Drop into interactive mode:
#
