#
#######################################################
set hdlin_translate_off_skip_text "true"
set verilogout_no_tri             "true"
set default_schematic_options     "-size infinite"
set write_name_nets_same_as_ports "true"
#######################################################
#
# dc_shell TcL startup script:
#
set designer "veriloguserN"
set company  "SVTI"
#
# Some design environment variables:
#
set search_path ". [getenv SYNOPSYS]/../TSMCLibes/tcbn90ghpSYN"
#
# tc = Typical; bc = Best; wc = Worst:
set target_library tcbn90ghptc.db
set link_library   tcbn90ghptc.db
#
set symbol_library tcbn90ghp.sdb
#
# ---------------------------------
#
define_design_lib FIFOgen -path ./FIFOgenSynth
#
analyze   -work FIFOgen -format verilog Bit.v
analyze   -work FIFOgen -format verilog Mem1kx32gen.v
analyze   -work FIFOgen -format verilog FIFOStateM.v
analyze   -work FIFOgen -format verilog FIFO_Top.v
elaborate -work FIFOgen  FIFO_Top
#
# ---------------------------------
#
set_operating_conditions NCCOM
set_wire_load_model -name "TSMC32K_Lowk_Conservative"  [all_designs]
#
# For XG mode portability to back-end tools:
set_fix_multiple_port_nets -all
#
set verilogout_higher_designs_first "true"
#
# module-specific constraints:
#
set_max_area 0
#
# Accurate, but too mild: create_clock -period 500 Clocker 
create_clock -period 60 Clocker 
set_multicycle_path 2 -through [get_pins "FIFO_SM1/ReadCount*/* FIFO_SM1/WriteCount*/*"]
#
suppress_message TIM-179; # Hundreds of 'set_multicycle_path' constraint made a reference 'through xxx ' which no longer exists.
#
# ################################################
#
# The first compile will take 10 minutes on a
# sparc 450 MHz machine:
#
# ################################################
#
compile
#
report_area > /dev/null
echo "Plain area & clock compile result: " \
               > FIFOgenNetlist_SpeedRulesDontTouch.log
report_area   >> FIFOgenNetlist_SpeedRulesDontTouch.log
report_timing >> FIFOgenNetlist_SpeedRulesDontTouch.log
check_design  >> FIFOgenNetlist_SpeedRulesDontTouch.log
#
#set_dont_touch [find design Mem1kx32gen]
#
set_drive      10.0 [all_inputs]
set_load       30.0 [all_outputs]
set_max_fanout 30   [all_designs]
#
set_max_delay   5  [all_outputs]
#
set_output_delay 1 [all_outputs] -clock Clocker
set_input_delay  1 [all_inputs]  -clock Clocker
#
# ################################################
#
compile -incremental_mapping
#
write -hierarchy -format verilog -output FIFOgenNetlist_SpeedRulesDontTouch.v
#
report_area > /dev/null
report_area
#echo "Incremental compile with Mem* dont_touch & more constraints: " \
#
echo "Incremental compile without Mem* dont_touch & tighter constraints: " \
              >> FIFOgenNetlist_SpeedRulesDontTouch.log
report_area   >> FIFOgenNetlist_SpeedRulesDontTouch.log
report_timing
report_timing >> FIFOgenNetlist_SpeedRulesDontTouch.log
check_design
check_design  >> FIFOgenNetlist_SpeedRulesDontTouch.log
#
# Drop into interactive mode:
#
